body {
  margin: 0;
}

#react-root {
  display: block;
  color: #595959;
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
}

div {
  display: flex;
}

span {
  display: flex;
  font-size: 16px;
}

.button {
  padding: 5px;
}

.button:active {
  background-color: #2f9599;
  color: #f0f0f0;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.crossed-out {
  text-decoration: line-through;
}

.suggested-action {
  background-color: #6db442;
  color: #f0f0f0;
}

.link {
  color: #5294e2;
}

.no-display {
  display: none;
}

.not-important {
  color: #a9a9a9;
}