.revealer {
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  flex-direction: column;
}

.revealer > .header {
  background-color: #595959;
  color: #f0f0f0;
  padding: 5px;
  justify-content: flex-end;
}

.revealer > .header:not(:hover) .not-important {
  display: none;
}

.revealer > .header > * {
  margin-left: 10px;
}

.revealer > .header > *:first-child {
  margin-right: auto;
}

.revealer > .header.active {
  background-color: #2f9599;
}

.revealer > .content {
  flex-direction: column;
  padding-left: 20px;
}