body {
  margin: 0;
  background-color: #f0f0f0;
}

#react-root {
  margin: 10px;
  display: flex;
  color: #595959;
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
}

span {
  display: flex;
}

span.title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

span.not-important {
  color: #a9a9a9;
}

.task-details {
  width: 300px;
  min-height: 200px;
}

.task-details > span {
  justify-content: space-between;
}

.place {
  border-radius: 10px;
  display: block;
  background: #ffffff;
  border-collapse: collapse;
  border-color: #f0f0f0;
  border-style: solid;
  padding: 5px;
}

.active {
  background: #2F9599;
  color: #f0f0f0;
}

.clickable {
  cursor: pointer;
}

.button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.suggested-action {
  background: #6db442;
  color: #f0f0f0;
}

.crossed-out {
  text-decoration: line-through;
}

.link {
  color: #5294e2;
}