body {
  margin: 0;
  background-color: #f0f0f0;
}

#react-root {
  margin: 10px;
  color: #595959;
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    "lists title"
    "lists details";
}

span {
  display: flex;
  font-size: 16px;
}

div.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-area: title;
}

div.title > span {
  margin-left: 5px;
  margin-right: 5px;
}

span.title {
  font-size: 20px;
  font-weight: bold;
}

span.not-important {
  color: #a9a9a9;
}

.task-lists {
  display: flex;
  grid-area: lists;
}

.task-list-actions {
  /*grid-area: buttons;*/
}

.task-details {
  width: 300px;
  min-height: 200px;
  grid-area: details;
}

.task-details > span {
  justify-content: space-between;
}

.place {
  border-radius: 10px;
  display: block;
  background: #fff;
  border-collapse: collapse;
  border-color: #f0f0f0;
  border-style: solid;
  padding: 5px;
}

.active {
  background: #2f9599;
  color: #f0f0f0;
}

.clickable {
  cursor: pointer;
}

.button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.suggested-action {
  background: #6db442;
  color: #f0f0f0;
}

.crossed-out {
  text-decoration: line-through;
}

.link {
  color: #5294e2;
}